@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a{
    text-decoration: none;
    color: white;
    transition-duration: 0.4s;
}

a:hover{
    color: cyan;
}

h1{
    font-size: 60px;
    margin: 5px 0px;
    text-shadow: 1px 1px gray;
}

h2{
    font-size: 40px;
    margin-bottom: 50px;
}

h3{
    font-size: 18px;
    margin-bottom: 3px;
}

h4{
    font-size: 20px;
    margin: 0px;
}

#contact{
    border: 2px solid cyan;
    border-radius: 4px;
    background-color: #000033;
    font-size: 12px;
    font-weight: bold;
    color: cyan;
    padding: 12px;
    width: 100px;
    transition-duration: 0.4s;
}

#contact:hover{
    background-color: cyan;
    color: #000033;
}

#logo{
    width: 250px;
    height: 100px;
    margin-left: 15px;
}

#banner{
    flex: 1;
    width: 400px;
    border: 2px solid cyan;
    border-radius: 4px;
    box-shadow: 5px 5px 10px cyan;
    margin: 30px 0px;

}

#sub{
    font-size: 16px;
    margin: 18px 0px;
}

#message{
    font-size: 14px;
    margin: 0px;
}

.header{
    display: flex;
    background-color: #000033;
    justify-content: space-between;
    border-bottom: 5px double cyan;
}

#msg{
    border: 2px solid #000033;
    border-radius: 4px;
    background-color: cyan;
    font-size: 12px;
    font-weight: bold;
    color: #000033;
    padding: 12px;
    width: 100px;
    transition-duration: 0.4s;
}

#msg:hover{
    background-color: #000033;
    color: cyan;
}

.nav{
    display: flex;
    gap: 20px;
    padding: 15px;
    align-items: center;
}

.content{
    flex: 1;
    background-color: #000033;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 60px;
}

.text{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.thumb{
    width: 115px;
    padding: 3px;
    border: 3px solid cyan;
    box-shadow: 5px 5px 10px gray;
    border-radius: 6px;
}

.desc{
    font-size: 15px;
    padding: 5px 25px;
    font-style: italic;
    text-align: center;
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.info{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;

}

.review{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 50px 150px;
}

.revcont{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comment{
    word-wrap: break-word;
    font-size: 30px;
    font-style: italic;
    color: gray;
    text-align: left;
    margin-bottom: 0px;
}

.reviewer{
    font-size: 20px;
    font-weight: bold;
    padding-right: 30px;
    align-self: flex-end;
}

.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
    height: 150px;
}

.cta-in{
    display: flex;
    background-color: cyan;
    justify-content: space-around;
    height: 50px;
    width: 800px;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 5px 5px 10px gray;
}

.announce{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

