@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a{
    text-decoration: none;
    color: white;
    transition-duration: 0.4s;
}

a:hover{
    color: cyan;
}

h1{
    font-size: 60px;
    margin: 5px 0px;
    text-shadow: 1px 1px gray;
}

h2{
    font-size: 40px;
    margin-bottom: 50px;
}

h3{
    font-size: 18px;
    margin-bottom: 3px;
}

#contact{
    border: 2px solid cyan;
    border-radius: 4px;
    background-color: #000033;
    font-size: 12px;
    font-weight: bold;
    color: cyan;
    padding: 12px;
    width: 100px;
    transition-duration: 0.4s;
}

#contact:hover{
    background-color: cyan;
    color: #000033;
}

#logo{
    width: 250px;
    height: 100px;
    margin-left: 15px;
}

#banner{
    flex: 1;
    width: 400px;
    border: 2px solid cyan;
    border-radius: 4px;
    box-shadow: 5px 5px 10px cyan;
    margin: 30px 0px;

}

#sub{
    font-size: 16px;
    margin: 18px 0px;
}

.header{
    display: flex;
    background-color: #000033;
    justify-content: space-between;
    border-bottom: 5px double cyan;
}

.nav{
    display: flex;
    gap: 20px;
    padding: 15px;
    align-items: center;
}

.content{
    background-color: #000033;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
}

.text{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.thumb{
    width: 115px;
    padding: 3px;
    border: 3px solid cyan;
    border-radius: 6px;
}

.desc{
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.info{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;

}

